#-------------------------- MEDIA CONTAINERS -------------------- #
services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - VERSION=docker
    volumes:
      - ${CONFIG}/plex-config:/config
      - ${TV}:/tv
      - ${MOVIES}:/movies
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    mem_limit: 256M
    # network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/sonarr-config:/config
      - ${MEDIA}:/media
    ports:
      - "8989:8989"
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    mem_limit: 256M
    # network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/radarr-config:/config
      - ${MEDIA}:/media
    ports:
      - "7878:7878"
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    mem_limit: 256M
    environment:
      - PUID=13006
      - PGID=13000
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/prowlarr-config:/config
    ports:
      - "9696:9696"
    restart: unless-stopped

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    # network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=${TZ}
    volumes:
      - ${MEDIA}:/media
      - ${CONFIG}/sabnzbd-config:/config
    ports:
      - "8081:8081"
    restart: unless-stopped

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    mem_limit: 256M
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/tautulli-config:/config
    ports:
      - 8181:8181
    restart: unless-stopped

  doplarr:
    image: lscr.io/linuxserver/doplarr:latest
    container_name: doplarr
    mem_limit: 512M
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - DISCORD__TOKEN=${DOPLARR_TOKEN}
      - RADARR__API=${RADARR_TOKEN}
      - RADARR__URL=http://10.0.0.201:7878
      - SONARR__API=${SONARR_TOKEN}
      - SONARR__URL=http://10.0.0.201:8989
      - DISCORD__MAX_RESULTS=10 #optional
      - DISCORD__REQUESTED_MSG_STYLE=:plain #optional
      - PARTIAL_SEASONS=false #optional
      - LOG_LEVEL=:info #optional
    volumes:
      - ${CONFIG}/doplarr-config:/config
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:1000
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ${CONFIG}/jellyfin-config:/config
      - ${CONFIG}/jellyfin-config/cache:/cache
      - ${MEDIA}:/media
    environment:
      - TZ=${TZ}
    restart: unless-stopped

#----------------------- DEVELOPMENT CONTAINERS -----------------#
  nginx:
    image: lscr.io/linuxserver/nginx:latest
    container_name: nginx
    mem_limit: 128M
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/nginx-config:/config
      - ${CONFIG}/certbot-config/www:/var/www/certbot
      - ${CONFIG}/certbot-config/letsencrypt:/etc/letsencrypt:ro
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    networks:
      - db_network

  mysql:
    image: mysql
    container_name: mysql
    mem_limit: 512M
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=123
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - db_network

  levibot:
    container_name: levibot
    build: ${CONFIG}/discord-bot
    mem_limit: 256M
    volumes:
      - ${CONFIG}/discord-bot:/usr/src/app
    restart: unless-stopped
    labels:
      - com.centurylinklabs.watchtower.enable=false

  muse:
    image: ghcr.io/museofficial/muse:latest # pr-1256
    container_name: music_bot
    mem_limit: 256M
    restart: unless-stopped
    volumes:
      - ${CONFIG}/muse-config:/data
    environment:
      - DISCORD_TOKEN=${MUSE_TOKEN}
      - YOUTUBE_API_KEY=${YOUTUBE_KEY}
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_SECRET}

  pairdrop:
    container_name: pairdrop
    restart: unless-stopped
    image: lscr.io/linuxserver/pairdrop:latest
    mem_limit: 256M
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - RATE_LIMIT=false 
    ports:
      - 6969:3000

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    mem_limit: 1024M
    environment:
      - N8N_HOST=n8n
      - N8N_PORT=5678
      - N8N_TRUST_PROXY=true
      - NODE_ENV=production
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=123
      - DB_SQLITE_VACUUM_ON_STARTUP=true
      - DB_SQLITE_POOL_SIZE=5
      - N8N_RUNNERS_ENABLED=true
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
    volumes:
      - ${CONFIG}/n8n-config:/home/node/.n8n
    ports:
      - 5678:5678
    restart: unless-stopped
    networks:
      - db_network

  aig:
    build: ${CONFIG}/aig-config
    container_name: aig
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    mem_limit: 64M
    environment:
      - BASE_URL=https://aig.levimclean.me
    ports:
      - "1255:1255"
    volumes:
      - ${CONFIG}/aig-config/images:/app/images
    restart: unless-stopped
  
  wordpress:
    image: wordpress:latest
    container_name: wordpress
    mem_limit: 256M
    environment:
      - WORDPRESS_DB_HOST=mysql:3306
      - WORDPRESS_DB_USER=root
      - WORDPRESS_DB_PASSWORD=123
      - WORDPRESS_DB_NAME=wordpress_db
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/wordpress-config:/var/www/html
      - ${CONFIG}/wordpress-config/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
    ports:
      - 8080:80
    restart: unless-stopped
    networks:
      - db_network

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - TZ=${TZ}
      - GITEA__server__ROOT_URL=https://git.levimclean.me/
    mem_limit: 256M
    restart: unless-stopped
    volumes:
      - ${CONFIG}/gitea-config:/data
    networks:
      - db_network

  # pythonapp:
  #   container_name: python_app
  #   build: ${CONFIG}/pythonapp-config/Python-Projects
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 256M
  #       reservations:
  #         memory: 128M
  #   volumes:
  #     - ${CONFIG}/pythonapp-config:/app
  #   ports:
  #     - "8501:8501"
  #   restart: unless-stopped
  #   labels:
  #     - com.centurylinklabs.watchtower.enable=false

  # chatapp:
  #   build: ${CONFIG}/chatapp-config
  #   ports:
  #     - "9876:9876"
  #   container_name: chatapp
  #   environment:
  #     DB_HOST: mysql
  #     DB_USER: root
  #     DB_PASS: 123
  #     DB_NAME: chat_db
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 128M
  #       reservations:
  #         memory: 64M
  #   networks:
  #     - db_network
  #   restart: unless-stopped
  #   labels:
  #     - com.centurylinklabs.watchtower.enable=false
  
  # yt-archiver:
  #   labels:
  #     - "com.centurylinklabs.watchtower.enable=false"
  #   build: ${CONFIG}/yt-archiver-config
  #   container_name: yt-archiver
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 512M
  #   environment:
  #     - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK}
  #   volumes:
  #     - ${VIDEOS}:/videos
  #     - ${CONFIG}/yt-archiver-config/cookies.txt:/app/cookies.txt
  #   ports:
  #     - 7654:7654
  #   restart: unless-stopped

#----------------- INFRASTRUCTURE CONTAINERS --------------------#
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    mem_limit: 256M
    environment:
      PUID: 1000
      PGID: 1000
      HOMEPAGE_ALLOWED_HOSTS: "*"
    ports:
      - 3000:3000
    volumes:
      - ${CONFIG}/homepage-config:/app/config
      - ${CONFIG}/homepage-config/images:/app/public/images # optional, for images 
    restart: unless-stopped

  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    ports:
      - "8082:80"
    mem_limit: 64M
    volumes:
      - ${MEDIA}:/srv/media
      - ${CONFIG}:/srv/config
      - /mnt/SSD/Yarr/Windows Games:/srv/yarr
      - ${CONFIG}/filebrowser-config:/config
      - ${CONFIG}/filebrowser-config:/database
    labels:
      - com.centurylinklabs.watchtower.enable=false
    restart: unless-stopped

  diskWake:
    container_name: diskWake
    image: diskwake:latest
    build: ${CONFIG}/diskwake-config
    mem_limit: 64M
    volumes:
      - "${MEDIA}:/mnt/externalhdd"
    labels:
      - com.centurylinklabs.watchtower.enable=false
    restart: unless-stopped

  glances:
    image: nicolargo/glances:latest
    container_name: glances
    pid: host
    uts: host
    mem_limit: 128M
    environment:
      - TZ=${TZ}
      - "GLANCES_OPT=-w"
    ports:
      - "61208:61208"
    volumes:
      - ${CONFIG}/glances-config:/glances/conf
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/os-release:/etc/os-release:ro
    restart: unless-stopped

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    mem_limit: 128M
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TOKEN}
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TOKEN}
  
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - SERVERPORT=51820
      - PEERS=5
      - ALLOWEDIPS=0.0.0.0/0
      - LOG_CONFS=true
    volumes:
      - ${CONFIG}/wireguard-config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    mem_limit: 128M
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8001:8080
    environment:
      - TZ=${TZ}
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_NOTIFICATION_URL=discord://8aK38AwQ_uUjWzm4DHzSxDOfZe6zBSZ571PCvNNEl1KK8tcd8miF70h8y6NtpVdGsZYm@1323419622921338891
      - WATCHTOWER_HTTP_API_METRICS=true
      - WATCHTOWER_HTTP_API_TOKEN=${WATCHTOWER_TOKEN}
      - DOCKER_API_VERSION=1.52
    restart: unless-stopped
    command: --schedule "0 0 4 * * *"

  # freshrss:
  #   image: lscr.io/linuxserver/freshrss:latest
  #   container_name: freshrss
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 128M
  #       reservations:
  #         memory: 64M
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=${TZ}
  #   volumes:
  #     - ${CONFIG}/freshrss-config:/config
  #   ports:
  #     - "8088:80"
  #   restart: unless-stopped

  # rss-bridge:
  #   image: rssbridge/rss-bridge:latest
  #   container_name: rss-bridge
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 128M
  #       reservations:
  #         memory: 64M
  #   environment:
  #     - TZ=${TZ}
  #   ports:
  #     - "8089:80"
  #   restart: unless-stopped

#--------------------- MONITORING CONTAINERS ---------------------#
  grafana:
    image: grafana/grafana-enterprise
    mem_limit: 256M
    container_name: grafana
    volumes:
      - ${CONFIG}/grafana-config:/var/lib/grafana
    restart: unless-stopped
    ports:
      - '2233:3000'

  loki:
    image: grafana/loki:latest
    container_name: loki
    mem_limit: 256M
    ports:
      - "3100:3100"
    volumes:
      - ${CONFIG}/loki-config:/etc/loki
    command: -config.file=/etc/loki/loki.yml
    restart: unless-stopped

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    mem_limit: 256M
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ${CONFIG}/promtail-config:/etc/promtail
      - /var/log:/var/log
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/promtail.yml
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    mem_limit: 128M
    container_name: prometheus
    volumes:
      - ${CONFIG}/prometheus-config/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    restart: unless-stopped

  docker_stats_exporter:
    image: wywywywy/docker_stats_exporter:latest
    mem_limit: 128M
    container_name: docker_stats_exporter
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9487:9487"
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter:latest
    mem_limit: 64M
    container_name: node_exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/rootfs
      - --collector.filesystem.ignored-mount-points="^/(sys|proc|dev|host|etc)($$|/)"
    ports:
      - "9100:9100"
    restart: unless-stopped

  mc-monitor:
    image: itzg/mc-monitor
    mem_limit: 64M
    container_name: mc-monitor
    command: export-for-prometheus
    ports:
      - 7754:8080
    environment:
      EXPORT_SERVERS: mc
      DEBUG: "true"
    restart: unless-stopped
#------------------------- MINECRAFT CONTAINERS -------------------#
  mc:
    image: itzg/minecraft-server
    container_name: minecraft-server
    mem_limit: 6g
    environment:
      # Required
      EULA: "true"
      TZ: "America/Toronto"
      MEMORY: "6G"
      UID: 1000
      GID: 1000
      # CurseForge Shit
      TYPE: VANILLA
      # CF_API_KEY: ${CURSEFORGE_TOKEN}
      # CF_MODPACK_MANIFEST: /data/manifest.json
      # CF_SLUG: "custom"
      # Server Configuaration
      MOTD: |
        \u00A7k420 \u00A7r \u00A7eFUCKWITS SERVER UNITE (╯°□°)╯︵ ┻━┻ \u00A77\u00A7k420\u00A7r 
        \u00A7k420\u00A7r \u00A75MINECRAFT \u00A76SERVER \u00A79LETSGOOOOOOOO \u00A7r\u00A7k420
      ICON: ./icon.png
      LEVEL: vanillaWorld # Change if moving to modded server
      SERVER_NAME: FUCKWITS SERVER UNITE (╯°□°)╯︵ ┻━┻
      MAX_PLAYERS: 6
      ENABLE_WHITELIST: "true"
      WHITELIST: LeviM0323, Dheltaz, _ruasuar_
      RCON_PASSWORD: ${RCON_PASSWORD}
    ports:
      - "25565:25565"
      - "25575:25575"
    volumes:
      - ${CONFIG}/minecraft-config:/data
    stdin_open: true
    tty: true
    restart: unless-stopped

#------------------------- VOLUMES & NETWORKS -------------------#
volumes:
  mysql_data:

networks:
  db_network:
    driver: bridge